<!DOCTYPE html>
<html>
  <header>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>IHM ShapeITouch</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="styles/normalize.css">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </header>
  <body>
<div id="app">
  <ol class="menu global">
    <li v-for="menu in menusFonctions">
      <label>
        <span v-bind:title="menu.text" class="fas" v-bind:class='"fa-"+menu.icon'>
        </span>
      </label>
    </li>
  </ol>
  <ol class="menu contextual">
    <li v-for="menu in menusContextual">
      <label>
        <span v-bind:title="menu.text" class="fas" v-bind:class='"fa-"+menu.icon'>
        </span>
      </label>
    </li>
  </ol>
</div>
  <script src="scrpits/main.js"></script>
  </body>
</html>
