body {
  background: #20262E;
  /*
  padding: 20px;
  font-family: Helvetica;
  */
  height:50vh;
  width:100%;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

.menu {
  background-color:silver;
  width:1.5em;
  font-size: 1cm;
  color: Dodgerblue;
  position: absolute;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.menu.contextual {
  right:0%;
}

li {  background-color:silver;

  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.fa-parrallel::before {
  content: "//";
}

.fa-parrallel::before {
  content: "//";
}

.fa-perpendicular::before {
  content: "|_";
}

.fa-tangent::before {
  content: "/O";
}

.fa-symetry::before {
  content: "[|]";
}

.fa-disconnect::before {
  content: "(-)";
}

del {
  color: rgba(0, 0, 0, 0.3);
}
